In [1]:
people = {
    'first': ['Corey', 'Jane', 'John'],
    'last': ['Schafer', 'Doe', 'Doe'],
    'email': ['CoreySchafer@mail.com', 'Janedoe@mail.com', 'Johndoe@mail.com']
}

In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first     last                  email
0  Corey  Schafer  CoreySchafer@mail.com
1   Jane      Doe       Janedoe@mail.com
2   John      Doe       Johndoe@mail.com

In [7]:
filt = (df['last'] == 'Doe')

In [8]:
filt

0    False
1     True
2     True
Name: last, dtype: bool

In [9]:
df[filt]

  first last             email
1  Jane  Doe  Janedoe@mail.com
2  John  Doe  Johndoe@mail.com

In [11]:
df.loc[filt, 'email']

1    Janedoe@mail.com
2    Johndoe@mail.com
Name: email, dtype: object

In [12]:
filt2 = (df['last'] == 'Doe') & (df['first'] == 'John')

In [14]:
df[filt2]

  first last             email
2  John  Doe  Johndoe@mail.com

In [19]:
filt3 = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [20]:
df.loc[filt3, 'email']

0    CoreySchafer@mail.com
2         Johndoe@mail.com
Name: email, dtype: object

In [21]:
df.loc[~filt3, 'email']

1    Janedoe@mail.com
Name: email, dtype: object