In [1]:
people = {
    'first': ['Corey', 'Jane', 'John'],
    'last': ['Schafer', 'Doe', 'Doe'],
    'email': ['CoreySchafer@mail.com', 'Janedoe@mail.com', 'Johndoe@mail.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                  email
0  Corey  Schafer  CoreySchafer@mail.com
1   Jane      Doe       Janedoe@mail.com
2   John      Doe       Johndoe@mail.com

In [5]:
df['email']

0    CoreySchafer@mail.com
1         Janedoe@mail.com
2         Johndoe@mail.com
Name: email, dtype: object

In [6]:
df.set_index('email')

                       first     last
email
CoreySchafer@mail.com  Corey  Schafer
Janedoe@mail.com        Jane      Doe
Johndoe@mail.com        John      Doe

In [7]:
df

   first     last                  email
0  Corey  Schafer  CoreySchafer@mail.com
1   Jane      Doe       Janedoe@mail.com
2   John      Doe       Johndoe@mail.com

In [8]:
df.set_index('email', inplace=True)

In [9]:
df

                       first     last
email
CoreySchafer@mail.com  Corey  Schafer
Janedoe@mail.com        Jane      Doe
Johndoe@mail.com        John      Doe

In [10]:
df.index

Index(['CoreySchafer@mail.com', 'Janedoe@mail.com', 'Johndoe@mail.com'], dtype='object', name='email')

In [11]:
df.loc['CoreySchafer@mail.com']

first      Corey
last     Schafer
Name: CoreySchafer@mail.com, dtype: object

In [12]:
df.loc['CoreySchafer@mail.com', 'last']

'Schafer'

In [13]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreySchafer@mail.com, dtype: object

In [14]:
df.reset_index(inplace=True)
df

                   email  first     last
0  CoreySchafer@mail.com  Corey  Schafer
1       Janedoe@mail.com   Jane      Doe
2       Johndoe@mail.com   John      Doe