In [1]:
person = {
    'first': 'Corey',
    'last': 'Schafer',
    'email': 'CoreySchafer@mail.com'
}

In [2]:
people = {
    'first': ['Corey'],
    'last': ['Schafer'],
    'email': ['CoreySchafer@mail.com']
}

In [3]:
people = {
    'first': ['Corey', 'Jane', 'John'],
    'last': ['Schafer', 'Doe', 'Doe'],
    'email': ['CoreySchafer@mail.com', 'Janedoe@mail.com', 'Johndoe@mail.com']
}

In [4]:
people['email']

['CoreySchafer@mail.com', 'Janedoe@mail.com', 'Johndoe@mail.com']

In [5]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

   first     last                  email
0  Corey  Schafer  CoreySchafer@mail.com
1   Jane      Doe       Janedoe@mail.com
2   John      Doe       Johndoe@mail.com

In [9]:
df['email']

0    CoreySchafer@mail.com
1         Janedoe@mail.com
2         Johndoe@mail.com
Name: email, dtype: object

In [11]:
df.email

0    CoreySchafer@mail.com
1         Janedoe@mail.com
2         Johndoe@mail.com
Name: email, dtype: object

In [12]:
df[['last', 'email']]

      last                  email
0  Schafer  CoreySchafer@mail.com
1      Doe       Janedoe@mail.com
2      Doe       Johndoe@mail.com

In [13]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [16]:
df.iloc[[0, 1], 2]

0    CoreySchafer@mail.com
1         Janedoe@mail.com
Name: email, dtype: object

In [21]:
df.loc[[0, 1], ['email', 'last']]

                   email     last
0  CoreySchafer@mail.com  Schafer
1       Janedoe@mail.com      Doe